[user]
	name = Iris Teyssier
	email = iris.teyssier@gmail.com
	signingkey = /home/iris/.ssh/id_ed25519.pub
[core]
	editor = hx
[gpg]
	format = ssh
[commit]
	gpgsign = true
[pull]
	rebase = true
[init]
	defaultBranch = master
